@font-face {
  font-family: "WastedVindey";
  src: url("../assets/fonts/Wasted-Vindey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Relyne";
  src: url("../assets/fonts/Relyne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Relyne";
  src: url("../assets/fonts/Relyne-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}